body {
  text-align: center;
  background-image: url('http://i1.wp.com/static.web-backgrounds.net/uploads/2012/08/City_Landscape_Background.jpg');
  background-size: cover;
}

h1 {
  color: brown;
}

#outputDiv {
  border: 1px solid pink;
  margin-top: 20px;
  font-size: 50px;
  color: #FF63BC;
}
